<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../Vezba2/public/css/style.css">
</head>
<body>
    <h1>Welcome to our Academy and Course Management System</h1>
    <ul>
        <li><a href="/academy/getallacademies">View All Academies</a></li>
        <li><a href="/course/getallcourses">View All Courses</a></li>
    </ul>
</body>
</html>
