.grid-parent {
    width: 980px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, auto);;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
}

h1{
    color: #000;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

span{
    color: grey;
    font-size: 15px;
    font-family: sans-serif;
}

p{
    color: #000;
    font-size: 15px;
    font-weight: 400;
}

.blok{
    border: 3px solid #000;
    padding: 10px;
    display: flex;
}

